.main {
    margin-top: 1rem;
    padding: 0 1rem;
    min-width: 340px;
}

.main .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.wrapInfo {
    padding: 0 1rem;
}

.wrapInfo .introduction .infoFuente{
    display: flex;
    right: 0;
    font-size: 8px;
    opacity: .5;
}

.wrapInfo .introduction {
    gap: 1rem;
    font-size: 15px;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
}
.wrapInfo .introduction .introTitle{
    margin: 1rem 0 3rem 0;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font-weight: 600;
}

.wrapInfo .introduction .introP{
    font-size: 14px;
    line-height: 1.6;
}

.wrapInfo .introduction .infoPWithImg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapInfo .introduction .infoPWithImg img{
    width: 35%;
    object-fit: contain;
}

@media only screen and (max-width: 640px ) {
    .main .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .wrapInfo .introduction .introTitle{
        font-size: 15px;
        text-align: center;
        line-height: 1.5;
        font-weight: 600;
    }

    .wrapInfo .introduction .introP{
        font-size: 12px;
        line-height: 1.6;
    }

    .wrapNews {
        display: none;
    }
}

/* <<<<< NEWS >>>>> */
.wrapNews {
    padding-top: 13rem;
}

.newsLabel {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
}

.newsLabel h1 {
    font-weight: 500;
}

.newsLabel h3 {
    font-size: 10px;
    text-decoration: underline;
}

.newsCardHome {
    display: flex;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  
.newsCardHome .imgContainer {
    display: flex;
    min-width: 150px;
    height: 80px;
    overflow: hidden;
    border-radius: 2px;
}

.newsCardHome .imgContainer img {
    width: 100%;
    object-fit: cover;
}

.newsCardHome .infoContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1rem;
    justify-content: space-between;
}

.newsCardHome .infoContainer .infoHeader {
    text-decoration: underline;
    font-size: 10px;
}

.newsCardHome .infoContainer .infoBody {
    font-size: 13px;
}

.newsCardHome .infoContainer .infoDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
}