.newsCard {
  width: 700px;
  height: 200px;
  margin: 2rem auto;
  display: flex;
  overflow: hidden;
}

.newsCard .imgContainer {
  display: flex;
  min-width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.newsCard .imgContainer img {
  width: 100%;
  object-fit: cover;
}

.newsCard .infoContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
  justify-content: space-between;
}

.newsCard .infoContainer .infoHeader {
  text-decoration: underline;
  font-size: 17px;
}

.newsCard .infoContainer .infoBody {
  font-size: 13px;
}

.newsCard .infoContainer .infoDetails {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}