.table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #222;
}

.table thead {
    background-color: #222;
}

.table th, td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 33.33%;
    padding: .4rem;
}

.table tbody tr:hover {
    background-color: #333333;
}

.columnOne {
    width: 80%;
}

.columnTwo {
    width: 10%;
    text-align: end;
}

.columnThree {
    width: 10%;
}

.amountCell {
    text-align: end;
    padding-right: 0 5px;
    border-left: 1px solid #222;
}

.actionsCell {
    border-left: 1px solid #222;
}

.tableTbody {
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.tableTbody tr {
    border-bottom: 1px solid #222;
}

.actionIcons {
    display: flex;
    justify-content: space-around;
}

.deleteIncomeButton{
    color: #e10c0584;
    cursor: pointer;
}

.deleteIncomeButton:hover {
    color: #e10c05;
}

.editIncomeButton{
    color: #8f8f8f9d;
    cursor: pointer;
}

.editIncomeButton:hover {
    color: #bcbcbc;
}

.tableTfoot {
    background-color: #222;
}

.footerDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.addIncomeBtnContainer {
    /* padding-top: 0.5rem; */
    align-items: center;
    margin-bottom: 1rem;
}

.addIncomeBtn {
    background-color: #42a942;
    padding: .2rem;
    border-radius: 6px;
    margin-bottom: 1rem;
}